<!DOCTYPE html>
<html>
  <head>
    <title>CustomerSatisfaction</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag asset_path('tailwind.css'), "inter-font", "data-turbo-track": "reload" %>

    <%# <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag asset_path('application.css'), "inter-font", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100">
    <% unless params[:controller] == 'devise/sessions'%>
      <main class="container mx-auto px-20">
        <%= render 'components/navbar' %>
        <%= yield %>
      </main>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
